.add-task-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

header {
    border-bottom: 1px solid rgb(175, 175, 175);
}

.description {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    max-width: 200px;
}

textarea {
    resize: none;
    height: 130px;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.checkbox-xl .form-check-input {
    top: 1.2rem;
    scale: 1.7;
    margin-right: 0.8rem;
}